* {
	margin:0;
	padding:0;
}

:root {
	--pri-txt: #ddd;
	--dark-bg: #111;
	--pri-font: "DejaVu Serif", "Times New Roman", serif;
	--sec-font: "DejaVu Sans", Arial, sans-serif;
	--link-normal: #6af;
	--link-hover: #8cf;
	--link-active: #dff;
}

html {
	font-family: var(--pri-font);
}

body {
	background-color: var(--dark-bg);
	color: var(--pri-txt);
}

h1, h2 {
	font-family: var(--sec-font);
}

h1 {
	margin: 0.67em auto;
	text-align: center;
	font-size: 2.5em;
}

h2 {
	margin: 0.83em 0 0.5em;
}

a {
	color: var(--link-normal);
	text-decoration: none;
}
a:hover {
	color: var(--link-hover);
	text-decoration: underline;
}
a:active {
	color: var(--link-active);
}

nav {
	font-size: 1.5em;
	text-align: center;
}

nav li {
	margin: 0.25em auto;
	list-style-type: none;
}

figure{
	display: flex;
	justify-content: center;
	align-items: center;
}

figure img {
	width: 400px;
	max-width: 100%;
}
